//defaults
html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
}

main {
  background: linear-gradient(rgb(122, 22, 252), rgb(127, 35, 248));
  background-color: rgb(122, 22, 252);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  input {
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-size: 1em;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    background: rgba(139, 133, 133, 0.144);
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 2em;
    outline: 0;
    font-weight: 400;
    &:focus:not(.submit) {
      border: 2px solid rgba(0, 0, 0, 0.18);
      border-radius: 20px;
    }
  }
}

button,
input.submit {
  cursor: pointer;
  width: 70%;
  letter-spacing: 1px;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding: 10px 40px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  opacity: 0.9;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

a {
  opacity: 0.7;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #d37de2;
  text-decoration: none;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

h2 {
  font-size: 2em;
  color: #8c55aa;
  font-weight: bold;
}

//presets
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

//components
.login-container {
  background-color: #ffffff;
  width: 400px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding: 2em 0;
}
